include index.pug

body
 div.challenge-view
  h2.challenge-name #{name}
  div.challenge-info-wrapper
   h4.challenge-category #{category}
   h4.challenge-points (#{points})
  h3.challenge-description
   each line in description.split('\n')
    if line.startsWith('https://')
     a(href=line) #{line}
    else
     | #{line}
    br
  form.submission-container(method="post")
   h3 Flag Submission
   if team
    input.submission-input(maxlength="64", name="flag", type="text", required=true)
    .flag-button-container
     input.flag-submit-button(type="submit", value="Submit Flag")
   else 
    h3.login-reminder Login required to submit a flag
  
