include index.pug

mixin challenge(name= 'Test', points=1, id=0, solved=false) 
  if !solved
    .challenge-box
      a.challenge-link(href= 'chals/' + id ) 
       .challenge-box-info
        h= name
        p= 'Points: ' + points
  else
    .challenge-box.solved_challenge
      a.challenge-link(href= 'chals/' + id ) 
       .challenge-box-info
        h= name
        p= 'Points: ' + points
        .challenge-box-solve 
         p Already Solved!

mixin challenge-category(categoryname= 'Test Category', challengeCategory)
 .category-title-box
  h3= categoryname
 .challenge-list
  each challengeItem in challengeCategory
   +challenge(challengeItem.name, challengeItem.points, challengeItem.id, challengeItem.team_solved)






body
 div.page-title-box
  h1.challenge-page-title Challenges
  div.challenge-page-desc
   p 
    | The purpose of these CTF challenges is to practice the use of various hacking skills
    | in order to obtain a secret flag hidden within a zip file. Teams can show off their abilities 
    | by submitting these flags for points and view their ranking against other teams
    | on the scoreboard.
   p Select a challenge listed below to begin.
   a(href= 'chals/new')
    input.link-button(type="button" value="Create a new challenge")
 each category in categories
  +challenge-category(category, challenges[category])
